%html
  %head
    %title Strava Sample App
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .navbar
      .navbar-inner
        %a.brand Strava Sample App
        %ul.nav
          %li.active= link_to('Home', root_path)
          %li
            - if @num_users == 0
              %a= "Be the first to sign up!"
            - elsif @num_users == 1
              %a= "#{@num_users} person has signed up!"
            - else
              %a= "#{@num_users} people have signed up!"

    .container
      .row
        = yield



